.about-us-container {
}
.hero-section-aboutus {
  background-image: url("../images/about-us-d.jpg");
  background-position: 50% 50%;
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.about-us-heading {
  margin-left: 48px;
  font-size: 6rem;
  color: #6432e5;
  text-transform: uppercase;
  line-height: 96px;
  padding: 176px 184px 64px 0;
}

.section-2-about-us {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, #24bdf4, #6432e5);
  margin: 32px 189px;
  z-index: 1;
  border-radius: 30px;
  padding: 32px;
}
.container-text {
  padding: 32px;
}
.heading {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.heading-para {
  color: #fff;
  font-size: 16px;
}
.u-shape {
  position: relative;
}
.u-shape-circle {
  border-radius: 50%;
}

.shape-1 {
  width: 286px;
  height: 286px;
  background-image: none;
  margin: 60px auto 0 823px;
}

.shape-2 {
  width: 179px;
  height: 179px;
  background-image: none;
  margin: -530px auto 0 32px;
}

.palette {
  color: #ffffff;
  background-color: #ee5f00;
}

.br-30 {
  border-radius: 30px;
}

.txt-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.u-group-1 {
  width: 900px;
  min-height: 353px;
  background-image: linear-gradient(to right, #24bdf4, #6432e5);
  margin: -107px auto -79px 109px;
  z-index: 1;
}

.section-3-about-us {
  color: #ffffff;
  background-color: #ee5f00;
  padding: 54px 0;
}

.layout-row {
  display: flex;
  flex-direction: row;
  border: 13px solid transparent;
  margin: 0 120px;
}

.item-1 {
  margin: 0 16px;
  border-radius: 30px;
  padding: 30px 48px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  text-align: center;
  height: 350px;
}

.item-1-img {
  height: 78px;
  width: 78px;
}

.item-heading {
  font-size: 20px;
  margin: 20px 0;
}
.item-para {
  font-size: 16px;
  font-style: italic;
  color: #555c66;
  text-align: center;
}

.extra-margin-64 {
  margin-top: 64px;
}

.extra-margin-96 {
  margin-top: 96px;
}

.h-100-about-us {
  background-image: linear-gradient(to right, #24bdf4, #6432e5);
  color: #fff !important;
  height: 500px !important;
  text-align: left !important;
}
.main-heading {
  font-weight: 700;
  text-transform: none;
  font-size: 2rem;
  margin: 44px 0 0;
}

.contact-us-btn {
  color: #6432e5 !important;
  background-color: #fff;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 39px auto 0 0;
  padding: 12px 40px 13px 39px;
}

/* -----------------media */
@media (min-width: 310px) and (max-width: 450px) {
  .about-us-heading {
    font-size: 4rem;
  }

  .section-2-about-us {
    flex-direction: column;
    margin: 16px;
  }
  .layout-row {
    margin: 0;
    flex-direction: column;
  }
  .container-text {
    margin: 16px;
    padding: 0;
  }
  .item-1 {
    width: auto;
    margin: 16px 0 !important;
  }
}
