.contact-us-hero {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  background-image: url("../images/contactUs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 12em !important;
  padding-bottom: 12em !important;
  background-position: 50% 50%;
}
.h1-title {
  text-align: center;
  color: #fff;
  font-size: 32px;
}
.above-main-contact-us {
  text-align: center;
  padding: 64px 0 32px 0;
}
.main-text-contact {
  font-size: 32px;
}
.sub-text-contact {
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.main-contact-us {
  display: flex;
  margin: 32px;
  justify-content: center;
  align-items: center;
}
.pallet {
  background-color: #3e2093;
  border-radius: 10px;
  color: #ffffff;
  text-align: left;
  padding: 40px;
  width: 510px;
}
/* .text-container-contact-us{
  padding
} */
.sub-text-contact {
  font-size: 20px;
  margin-top: 24px;
  opacity: 0.8;
  font-weight: 300 !important;
}
.contact-info-container {
  margin: 32px 0;
}
.contact-icon {
  height: 30px;
  width: 30px;
  margin-right: 32px;
  color: pink;
}
.icon-text {
  margin: 12px 0;
}
.outter-container-fb {
  display: flex;
  align-items: center;
  justify-content: center;

  /* border-radius: 50%; */
}

.outter-container-fb:hover {
  cursor: pointer;
  /* background-color: #fa949d; */
}
.socila-media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact-us-form {
  width: 510px;
  background-color: #ffffff;
}
.phone-text {
  text-decoration: none;
  opacity: 0.8;
  color: #ffffff;
  line-height: 2.9;
  font-size: 18px;
}
.address-text {
  font-size: 14px !important;
  line-height: 2 !important;
}
.form-control-contact-us {
  display: flex;
  padding: 96px 64px;
  flex-direction: column;
}
.input-tag {
  padding: 8px;
  margin-bottom: 32px;
  border: none;
  border-bottom: 1px solid #3e2093;
}
.btn-container-contact-us {
  display: flex;
  justify-content: space-around;
}
.btn {
  padding: 16px 24px;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
}
.danger {
  background-color: red;
}
.primary {
  background-color: #3e2093;
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}

.no-link-style:hover {
  text-decoration: none;
  color: inherit;
}

.circle-social {
  padding: 8px;
  border-radius: 50%;
  background-color: #007bff;
  margin-right: 24px;
}
.footer-icon {
  margin: 0 !important;
}

@media (min-width: 310px) and (max-width: 450px) {
  .main-contact-us {
    flex-direction: column-reverse;
    margin: 0;
  }
  .form-control-contact-us {
    padding: 32px 16px;
  }
  .contact-us-form {
    width: 100%;
  }
  .pallet {
    width: 100%;
  }
  .icon-text {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .main-text-contact {
    font-size: 28px;
    text-align: center;
  }
  .sub-text-contact {
    margin-top: 0;
    font-size: 15px;
  }
}
