@import "./mixin.scss";

$primaryBackgroundColor: #f0f0f0;
$whiteColor: #ffffff;
$blackColor: #000;
$inputBackgroundColor: #f0f0f0;
$redcolor: red;
$footerBacColor: #333333;
$heroContainerBackColor: #dbf3f2;
$singleProductFramColor: #d7fbf9;
$singleProductInnerColor: #e9fefd;
$secondaryColor: #dbe3e2;
$discountOuterColor: #f7f8f9;
